.Rproj.user
.Rhistory
.RData
.Ruserdata
public/post/Medicine_MedStats_Summer2014_ActivityGrade.csv
public/post/Medicine_MedStats_Summer2014_EventXtract.csv
public/post/Medicine_MedStats_Summer2014_VideoInteraction.csv
public/post/engagement_Medicine_MedStats_Summer2014_weeklyEffort.csv
public/post/final_grades.csv